<div>
  <form [formGroup]="userInfoForm" class="info-panel">
    <div class="left-side">
      <h5>Dane konta:</h5>
      <p><b>Nazwa użytkownika: </b>{{username}} </p>
      <p><b>E-mail: </b>{{email}}</p>

    </div>
    <div class="right-side">
      <div>
        <p><b>Wprowadź dane potrzebne do obliczenia zapotrzebowania kalorycznego:</b></p>
      </div>
      <div class="inputs">
        <div class="another-information">
          <mat-form-field>
            <mat-label>Wiek:</mat-label>
            <input matInput type="number" placeholder="Wiek" formControlName="age" class="inputs-to-calculate">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Wybierz Płeć:</mat-label>
            <mat-select placeholder="Płeć" id="gender" formControlName="gender">
              <mat-option *ngFor="let gender of genders" [value]="gender">{{ getGenderLabel(gender) }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Współczynnik aktywności:</mat-label>
            <mat-select placeholder="Współczynnik aktywności" id="activity" formControlName="activity">
              <mat-option *ngFor="let activity of activities" [value]="activity">{{ getActivityLabel(activity)
                }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cel:</mat-label>
            <mat-select placeholder="Cel" id="goal" formControlName="goal">
              <mat-option *ngFor="let goal of goals" [value]="goal">{{ getGoalLabel(goal) }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="body-information">
          <mat-form-field>
            <mat-label>Waga:</mat-label>
            <input matInput type="number" placeholder="Waga" formControlName="weight" class="inputs-to-calculate">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Wzrost:</mat-label>
            <input matInput type="number" placeholder="Wzrost" formControlName="growth" class="inputs-to-calculate">
          </mat-form-field>
        </div>



      </div>


      
    </div>
    <div class="macronutrients-information">
      <p><b>Dziennie zapotrzebowanie kaloryczne: </b></p>
      <p>Białko: {{proteinsPerDay}}</p>
      <p>Tłuszcze: {{fatPerDay}}</p>
      <p>Węglowodany: {{carbohydratesPerDay}}</p>
      <p>Kalorie: {{caloriesPerDay}}</p>
    </div>
  </form>
</div>