<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrainWell</title>
</head>
<body>
  <div class="wrapper">
    <div class="container main">
      <div class="row">
        <div class="col-md-6 side-image">
          <div class="text">
            <p>Dołącz do <i>TrainWell</i> aby zmienić swoje nawyki!</p>
          </div>
        </div>
        <div class="col-md-6 right">
          <div class="input-box">
            <img src="../../../assets//TrainWell LOGO.png" class="logo" alt="">
            <ng-template [ngIf]="!loginMode">
              <header>Rejestracja</header>
              <form [formGroup]="registrationForm">
                <div class="input-field">
                  <input type="email" class="input" id="email" formControlName="email" required autocomplete="off">
                  <label for="email">Email</label>
                </div>
                <div class="input-field">
                  <input type="text" class ="input" id="username" formControlName="username" required autocomplete="off">
                  <label for="username">Nazwa użytkownika</label>
                </div>
                <div class="input-field">
                  <input type="password" class="input" id="password" formControlName="password" required>
                  <label for="password">Hasło</label>
                </div>
                <div class="input-field">
                  <input type="password" class="input" id="confirmPassword" formControlName="confirmPassword" required>
                  <label for="confirmPassword">Potwierdź Hasło</label>
                </div>
                <div class="input-field">
                  <input type="text" class="input" id="phoneNumber" formControlName="phoneNumber" required>
                  <label for="phoneNumber">Numer telefonu</label>
                </div>
                <div class="input-field">
                  <input type="submit" class="submit" value="Zarejestruj się" (click)="register()">
                </div>
              </form>
            </ng-template>
            <ng-template [ngIf]="loginMode">
              <header>Logowanie</header>
              <form [formGroup]="loginForm">
                <div class="input-field">
                  <input type="text" class="input" id="username" formControlName="username" required autocomplete="off">
                  <label for="username">Email</label>
                </div>
                <div class="input-field">
                  <input type="password" class="input" id="password" formControlName="password" required>
                  <label for="password">Hasło</label>
                </div>
                <div class="input-field">
                  <input type="submit" class="submit" value="Zaloguj się" (click)="login()">
                </div>
              </form>
            </ng-template>
            <div class="signin">
              <span>{{ !loginMode ? 'Posiadasz już konto?' : 'Nie masz jeszcze konta?' }} <a (click)="changeMode()">{{ !loginMode ? 'Zaloguj się tutaj' : 'Zarejestruj się tutaj' }}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
