<title>Strona logowania</title>
<div class="main-container">
  <form class="login-form" [formGroup]="registrationForm">
    <img src="../../../../assets/logo.png" alt="Logo GymBro">
    <div class="wrapper">
      <div class="container">
        <div class="inputs">
          <label>Nazwa użytkownika:</label>
          <input type="text" placeholder="Imię" formControlName="username"><br>
        </div>
        <div class="inputs">
          <label>E-mail:</label>
          <input type="email" placeholder="E-mail" formControlName="email"><br>
        </div>
        <div class="inputs">
          <label>Hasło:</label>
          <input type="text" placeholder="Login" formControlName="password"><br>
        </div>
        <div class="inputs">
          <label>Potwierdź hasło:</label>
          <input type="password" placeholder="Hasło" formControlName="confirmPassword"><br>
        </div>
        <div class="inputs">
          <label>Numer telefonu:</label>
          <input type="number" placeholder="Numer telefonu" formControlName="phoneNumber"><br>
        </div>
      </div>
    </div>
    <button (click)="onSubmit()" type="submit">Zarejestruj</button>
    <button (click)="backToLoginPage()" type="reset">Anuluj</button>
  </form>
</div>