.buttons-with-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
.container{
    height: 8vh;
}
.my-md-0{
    width: 25%;

}
.material-icons-outlined{
    margin-bottom: 3px;
}
.logo{
    margin-right: 60%;
    margin-bottom: 15px;
}