<div class="container">
    <h5>Wybierz co chcesz zrobić:</h5>
    <div class="buttons">
        <div class="training-btn">
            <!-- <img src="../../../assets/TrainWell Icon.png" alt=""> -->
            <button type="button" class="btn btn-primary" (click)="goToWorkout()">Dodać trening</button>
        </div>
        <div class="measurement-btn" >
            <button type="button" class="btn btn-dark" (click)="goToMeasurement()">Dodać pomiar ciała</button>
        </div>
    </div>
</div>