<div class="container">
  <form [formGroup]="trainingForm" (ngSubmit)="submit()">
    <h3>Dodawanie treningu:</h3>
  <div class="headers">
    <mat-form-field>
      <mat-label>Tytuł</mat-label>
      <input matInput type="text" placeholder="Tytuł">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Wybierz datę:</mat-label>
      <input matInput [matDatepicker]="picker" class="input-date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addExerciseToList()"*ngIf="!addingExerciseToList">Dodaj ćwiczenie do listy</button>
    <button mat-raised-button color="warn" (click)="cancelAddingExerciseToList()" *ngIf="addingExerciseToList">Anuluj</button>
    <button mat-raised-button (click)="addExercise()" *ngIf="!addingExercise">Dodaj do treningu</button>
    <button mat-raised-button color="warn" (click)="cancelAddingExercise()" *ngIf="addingExercise">Anuluj</button>
  </div>
  <div class="add-exercise-to-list" *ngIf="addingExerciseToList">
    <mat-form-field>
      <mat-label>Nazwa ćwiczenia</mat-label>
      <input matInput type="text" placeholder="Ćwiczenie" formControlName = "nameOfExercise">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addExerciseToListSubmit()">Dodaj</button>
  </div>
  <div class="addEvent" *ngIf="addingExercise">
    <mat-form-field>
      <mat-label>Ćwiczenie</mat-label>
      <mat-select placeholder="Ćwiczenie" id="expeditionID">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{ exercise.name}}</mat-option>
                    </mat-select>
    </mat-form-field>
  </div>
  <!-- <div class="exercises-table">
    <table mat-table [dataSource]="myDataArray">
      ...
    </table>
  </div> -->

</form>
</div>