<mat-tab-group>
     <mat-tab label="Posiłek">
          <h5 id="main-header">Dodawanie posiłku:</h5>
          <div class="add-meal">
               <form [formGroup]="addMealForm">

                    <div class="">
                         <div>
                              <mat-form-field>
                                   <mat-label>Nazwa:</mat-label>
                                   <mat-select placeholder="Posiłek" id="activity" formControlName="mealName">
                                        <mat-option *ngFor="let meal of meals" [value]="meal">{{ getMealNameLabel(meal)
                                             }}</mat-option>
                                   </mat-select>
                              </mat-form-field>
                              <mat-form-field>
                                   <mat-label>Wybierz datę:</mat-label>
                                   <input matInput [matDatepicker]="picker" class="input-date" formControlName="date">
                                   <mat-datepicker-toggle matIconSuffix [for]="picker"
                                        style="cursor: none;"></mat-datepicker-toggle>
                                   <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <button mat-raised-button id="submit-btn" (click)="calculateTotalNutritionalValues()">Oblicz</button>
                         </div>

                         <mat-icon (click)="changeAddProductMode()" *ngIf="!addProductMode"
                              id="circle-add-btn">add_circle_outline</mat-icon>
                    </div>

                    <div class="add-poduct-to-meal" *ngIf="addProductMode" formArrayName="productsInMeal">
                         <div *ngFor="let product of productsInMeal.controls; let i = index" [formGroupName]="i"
                              class="add-product-to-meal">
                              <div class="inputs">
                                   <mat-form-field>
                                        <mat-label>Nazwa produktu:</mat-label>
                                        <mat-select placeholder="Nazwa produktu" id="activity"
                                             formControlName="productId">
                                             <mat-option *ngFor="let product of products"
                                                  [value]="product.id">{{product.name}}</mat-option>
                                        </mat-select>
                                   </mat-form-field>
                                   <mat-form-field>
                                        <mat-label>Waga[g]:</mat-label>
                                        <input matInput type="number" placeholder="Waga" formControlName="grams">
                                   </mat-form-field>
                                   <mat-icon (click)="removeProductInMeal(i)" id="custom-remove-icon">clear</mat-icon>
                              </div>
                              <div class="macro">{{ calculateNutritionalValues(productsInMeal.at(i).get('grams')?.value,
                                   this.productsInMeal.at(i).get('productId')?.value) }}</div>

                         </div>

                    </div>
                    <div class="buttons" *ngIf="addProductMode">
                         <mat-icon (click)="addProductInMeal()" id="circle-add-btn">add_circle_outline</mat-icon>
                         <button mat-raised-button color="warn" (click)="cancelAddProductMode()"
                              id="cancel-btn">Anuluj</button>
                         <button mat-raised-button id="submit-btn" (click)="submitForm()">Zapisz</button>
                    </div>


               </form>
               <div class="total-macro-with-header">
                    <h5>Makroskładniki oraz kaloryka całego posiłku:</h5>
                    <div class="total-macro-in-meal">

                         <p>B: {{this.mealProteins.toFixed(0)}}g, T: {{this.mealFat.toFixed(0)}}g, W: {{this.mealCarbohydrates.toFixed(0)}}g, Kcal:
                              {{this.mealCalories.toFixed(0)}}</p>

                    </div>
               </div>

          </div>

     </mat-tab>
     <mat-tab label="Produkty">
          <div class="adding-product">
               <button mat-raised-button (click)="changeMode()" *ngIf="!addMode">Dodaj produkt</button>
               <form [formGroup]="addProductForm" *ngIf="addMode">
                    <p><b>Podaj kaloryczność oraz makroskładniki produktu na 100g: </b></p>
                    <mat-form-field>
                         <mat-label>Nazwa:</mat-label>
                         <input matInput type="text" placeholder="Nazwa" formControlName="name">
                    </mat-form-field>
                    <div class="macronutrients">
                         <mat-form-field>
                              <mat-label>Tłuszcz[g]:</mat-label>
                              <input matInput type="text" placeholder="Nazwa" formControlName="fat">
                         </mat-form-field>
                         <mat-form-field>
                              <mat-label>Białko[g]:</mat-label>
                              <input matInput type="text" placeholder="Nazwa" formControlName="proteins">
                         </mat-form-field>
                         <mat-form-field>
                              <mat-label>Węglowodany[g]:</mat-label>
                              <input matInput type="text" placeholder="Nazwa" formControlName="carbohydrates">
                         </mat-form-field>
                         <mat-form-field>
                              <mat-label>Kalorie[kcal]:</mat-label>
                              <input matInput type="text" placeholder="Nazwa" formControlName="calories">
                         </mat-form-field>
                    </div>
               </form>
               <div class="buttons">
                    <button mat-raised-button color="warn" (click)="cancel()" *ngIf="addMode">Anuluj</button>
                    <button mat-raised-button color="primary" (click)="addProduct()" *ngIf="addMode"
                         id="add-btn">Dodaj</button>
               </div>


          </div>
          <div class="table">
               <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">

                         <ng-container matColumnDef="Lp">
                              <th mat-header-cell *matHeaderCellDef> Lp. </th>
                              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                         </ng-container>
                         <ng-container matColumnDef="Nazwa">
                              <th mat-header-cell *matHeaderCellDef> Nazwa </th>
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                         </ng-container>
                         <ng-container matColumnDef="Białko">
                              <th mat-header-cell *matHeaderCellDef> Białko </th>
                              <td mat-cell *matCellDef="let element"> {{element.proteins}}g </td>
                         </ng-container>
                         <ng-container matColumnDef="Tłuszcze">
                              <th mat-header-cell *matHeaderCellDef> Tłuszcze </th>
                              <td mat-cell *matCellDef="let element"> {{element.fat}}g </td>
                         </ng-container>
                         <ng-container matColumnDef="Węglowodany">
                              <th mat-header-cell *matHeaderCellDef> Węglowodany </th>
                              <td mat-cell *matCellDef="let element"> {{element.carbohydrates}}g </td>
                         </ng-container>
                         <ng-container matColumnDef="Kalorie">
                              <th mat-header-cell *matHeaderCellDef> Kalorie (na 100g) </th>
                              <td mat-cell *matCellDef="let element"> {{element.calories}}kcal </td>
                         </ng-container>

                         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                         aria-label="Select page of periodic elements">
                    </mat-paginator>
               </div>
          </div>
     </mat-tab>
</mat-tab-group>