.adding-product{
    margin: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 85%;
}

input{
    margin-left: 5%;
}

.mat-mdc-form-field{
    margin-right: 5%;
}
.buttons{
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: end;
}
#add-btn{
    margin-left: 2%;
}
.table{
    margin-left: 5%;
    width: 90%;
}
.add-meal{
    display: flex;
    /* width: 95%; */
    margin-left: 5%;
}
.add-product-to-meal{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.buttons{
    justify-content: end;
    margin-bottom: 1px;
}
#add-prod-btn{
    margin-right: 45%;
}
#submit-btn{
    margin-left: 2%;
}
.inputs{
    display: flex;
    flex-direction: row;
}
.macro{
    margin-top: 1.5%;
}
.total-macro-in-meal{
    display: flex;
    width: 100%;
}
#main-header{
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
}
form{

    width: 60%;
}
.total-macro-with-header{
    display: flex;
    flex-direction: column;
}

#circle-add-btn{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: green;
    margin-left: 22%;
    cursor: pointer;
}
#cancel-btn{
    margin-left: 58%;
}
#custom-remove-icon {
    margin-top:15px;
    width: 30px;
    height: 30px;
    color: red;
    font-size: 30px;
    cursor: pointer;
  }