<div class="container">
    <h5>Wybierz co chcesz zrobić:</h5>
    <div class="buttons" *ngIf="data.workoutMode">
        <div class="add-btn">
            <button mat-raised-button  (click)="goToWorkout()" color="primary" id="meal-btn">Dodaj trening</button>
            <button mat-raised-button  (click)="goToMeasurement()" color="basic" id="meal-btn">Dodaj pomiar</button>
        </div>    
        <div class="cancel-btn">
            <button mat-raised-button (click)="cancel()" color="warn" id="">Anuluj</button>
        </div>  
        
    </div>
        <div class="meals-btn" *ngIf="data.dietMode">
            <button mat-raised-button  (click)="goToMeals()" color="primary" id="meal-btn">Dodaj posiłek</button>
            <button mat-raised-button (click)="cancel()" color="warn">Anuluj</button>
        </div>
    
</div>